<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="nav">
    <ul>
        <a href="/home/index"><li>Home</li></a> (Navigator)
        <a href="/book/index"><li>Books</li></a> (data displayer)
        <a href="/author/index"><li>Authors</li></a> (data displayer, alles en per id)
        <a href="/publisher/index"><li>Publishers</li></a> (data displayer en toevoegen)
        <a href="{{todo}}"><li>todo</li></a> (data displayer, toevoegen, verwijderen, editten, rowswap via ID)
        <a href="{{profile}}"><li>profile</li></a> (data displayer) there is no added twig for profile
        <a href="/user/{{log}}"><li>{{log}}</li></a> (Login or logout)
    </ul>
</div>
    Hello {{naam}}
</body>
</html>