<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/path/to/tailwind.css" rel="stylesheet">
</head>
<body>
<a href="/Home/index">Home</a>
<div class="container">
    <div class="title">
        <h1> Todo's </h1>
    </div>
    <div class="list">
        <form action="/todo/storetodo" method="post">
            <input type="text" name="task" input>
            <input type="submit" name="submit">
        </form>
        <table>
            <tr> <th class="preview" preview></th> <th>Status</th> <th> S. Controll </th> <th>Order</th> </tr>
            {% for todo in todos %}
            <form action"/todo/index" method="post">
                <tr>
                    <td>{{ todo.todo }}</td>
                    <td>{{ todo.status }}</td>
                    <td>
                        <button type="submit" name="todoOption" value="{{ todo.id }}-status-done">done</button>
                        <button type="submit" name="todoOption" value="{{ todo.id }}-status-doing">doing</button>
                    </td><td>
                        {% if loop.first == false %}<button type="submit" name="todoOption" value="{{ todo.id }}-rowSwap-up">up</button>{% endif %}
                        {% if loop.last == false %}<button type="submit" name="todoOption" value="{{ todo.id }}-rowSwap-down">down</button>{% endif %}
                    </td><td>
                        <button type="submit" name="todoOption" value="{{ todo.id }}-delete-delete">delete</button>
                        <button type="submit" name="todoOption" value="{{ todo.id }}-edit-edit">edit</button>
                    </td>
                </tr>
            </form>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>
<script>
const context = {};
const inputs = Array.from(document.querySelectorAll('[input]'));
    inputs.forEach(input => {
        input.addEventListener('keyup', () => {
        let key = input.getAttribute('input');
        context[key] = input.value
        });
    });
function showData() {
    const elements = Array.from(document.querySelectorAll('[preview]'));
    elements.forEach(element => {
        key = element.getAttribute('preview');
        element.textContent = context[key];
    });
}
setInterval(() => {
    showData();
}, 1);
</script>